@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Noir-Medium;
    src: url("./public/Fonts/Noir_medium.otf") format("opentype");
}

@font-face {
    font-family: Noir-Regular;
    src: url("./public/Fonts/Noir_regular.otf") format("opentype");
}

html {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    background-image: url(./public/background.png);
    background-repeat: repeat;
    background-size: 33vw 33vw;
    background-position: center;
    background-attachment: fixed;
    }

html::-webkit-scrollbar {
    display: none;
    }